.body {
  width: 30%;
  height: 320px;
  background-color: rgba(69, 82, 106, 0.09);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  /* padding-top: 1rem; */
}

.imageBox {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 70%;
  overflow-y: hidden;
}

.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  margin-top: 1rem;
}

.bottom {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.bottom p {
  font-weight: 200;
  font-size: 1.1rem;
}

.bottom p span {
  font-weight: 400;
}

.overlay {
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(20, 30, 50, 0.6);
  backdrop-filter: blur(15px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideUp 0.5s ease-in-out;
}


@keyframes slideUp {
  from {
    transform: translateY(100%);
    transition: transform 0.25s;
  }
  to {
    transform: translateY(0%);
  }
}
