.body {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(15px);
  z-index: 5;
}

.content {
  padding: 2rem;
  background-color: #141e32;
  border-radius: 0.9rem;
  animation: slideDown 0.5s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
}

.h2 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.inputs {
  width: fit-content;
  padding: 0.5rem 0;
  display: flex;
  gap: 1.5rem;
}

.selectImageBox {
  border: 1px solid #faf9f9;
  width: 825px;
  height: 500px;
  /* max-height: 500px !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.selectImageBox img {
  height: 95%;
  max-width: 95%;
}

.buttons {
  width: 825px;
  display: flex;
  justify-content: space-between;
}

@keyframes slideDown {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 1300px) {
  .inputs {
    flex-direction: column;
    gap: 0;
  }

  .selectImageBox {
    height: fit-content;
    width: fit-content;
  }

  .buttons {
    width: fit-content;
    gap: 1rem;
  }
}

@media only screen and (max-width: 760px) {
  .header {
    padding-right: 2rem;
  }

  .body {
    padding-left: 0;
  }
  .h2 {
    padding-top: 0.8rem;
    padding-left: 4rem;
    font-size: 24px;
  }
  .inputs {
    margin: 0 auto;
    transform: scale(0.7);
  }

  .selectImageBox {
    transform: scale(0.9);
    margin: 0 auto;
  }

  .buttons {
    margin: 0 auto;
    flex-direction: column;
  }
}
